---
layout: page
title: "Projects"
header-img: img/unsplash/chuttersnap-9cCeS9Sg6nU-unsplash.jpg
header-img-credit: "chuttersnap on Unsplash"
header-img-credit-href: "https://unsplash.com/@chuttersnap"
header-mask: 0.5
description: "Featured completed projects and open-source resources."
order: 1
---

{%- assign _sorted_list = site.projects -%}
{%- assign _sorted_list = _sorted_list | sort: 'date' -%}
{%- assign _sorted_list = _sorted_list | reverse -%}
{% for project in _sorted_list %}
<div class="post-preview">
    <a href="{{ project.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ project.title }}
        </h2>
        {% if project.subtitle %}
        <h3 class="post-subtitle">
            {{ project.subtitle }}
        </h3>
        {% endif %}
        {% if project.preview %}
        <div class="post-content-preview">
            {{ project.preview }}
        </div>
        {% else %}
        <div class="post-content-preview">
            {{ project.content | strip_html | truncate:300 }}
        </div>
        {% endif %}

    </a>
    <p class="post-meta">
        Posted by {% if project.author %}{{ project.author }}{% else %}{{ site.title }}{% endif %} on
        {{ project.date | date: "%B %-d, %Y" }}
    </p>
</div>
<hr>
{% endfor %}